@model CS_webapp.Models.Category

<form method="post" asp-action="DeletePost" onSubmit="DeleteUser('@Model.Name')">
    <input asp-for="Id" type="hidden" />
     <div class="border p-3">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
         <div class="form-group row">
             <h2 class="text-info pl-3">Izbriši uporabnika</h2>
         </div>

         <div class="row">
             <div class="col-8">
                 <div class="form-group row">
                     <div class="col-4">
                         <label asp-for="Name"></label>
                     </div>
                     <div class="col-8">

                         <!--<input asp-for="Name" class="form-control"/>-->
                         <!--<h4 class="form-control">zjtzuizujkz</h4>-->
                         <h4>@Model.Name</h4>

                         <span asp-validation-for="Name" class="text-danger"></span>
                     </div>
                 </div>

                 <!--
                 <div class="form-group row">
                     <div class="col-4">
                     <label asp-for="DisplayOrder"></label>
                     </div>
                     <div class="col-8">
                     <input asp-for="DisplayOrder" class="form-control"/>
                     <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                     </div>
                 </div>
                 -->

                  <div class="form-group row">
                      <div class="col-8 offset-4 row">
                          <div class="col">
                              <input type="submit" class="btn btn-info w-100 btn-danger" value="Izbriši"/>
                          </div>
                          <div class="col">
                              <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-arrow-left"></i> &nbsp; Category List</a>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>

</form>

<!--<button id="delete_object_btn" onclick="DeleteUser('@Model.Name')">Delete File</button>-->

@section Scripts{
    @{ <partial name="_ValidationScriptsPartial" />}
    <script type="text/javascript">
    
    function DeleteUser(ime){
        
	    var result = confirm("Ali res želiš izbrisati uporabnika:  "+ime+" in njegove podatke iz vseh registrov?");
	    if (result) {
		    console.log("Uporabnik ",ime," in vsi njegovi podatki so bili uspešno odstranjeni..");
		    } 
    
        //alert("I will only say hello on view.");
	    }
    </script>

} 
