@{
    ViewData["Title"] = "MyBackupService";
}


<h1>@ViewData["Title"]</h1>

<p>Stran za pomoč pri razvijanju kode.</p>
<br></br>

<h4>@ViewData["vd0"]</h4>
<h4>@ViewData["vd1"]</h4>
<h4>@ViewData["vd2"]</h4>
