
@model CS_webapp.Models.BigModel


<h1>You have successfully log in Top secret database as:</h1>
<br></br>

@*
<h4><label asp-for="LoginModel.UserName"></label>: &nbsp;&nbsp; @Model.LoginModel.UserName</h4>
<h4><label asp-for="LoginModel.Password"></label>: &nbsp;&nbsp; @Model.LoginModel.Password</h4>
*@

<h4>Uporabniško ime: &nbsp;&nbsp; @TempData["user"]</h4>
<h4>Geslo: &nbsp;&nbsp; @TempData["pass"]</h4>

<br></br>
<img class="img0" src="~/img/ze_videno.png" style="width:45%;height:45%" />

<h1 style="font-size:36px"><embed src="~/text/test.txt"></h1>
<br></br>

<div class="col">
<a asp-action="Login" class="btn btn-danger w-100"><i class="fas fa-arrow-left"></i> &nbsp; Logout</a>
</div>